In [194]:
import pandas as pd  #Working with DataFrames
import numpy as np   # For Matrix Operations
import matplotlib.pyplot as plt # Visualization of the Data
import matplotlib.image as mpimg # Image formation from the pixels
import seaborn as sns # Visualization of Graphs
%matplotlib inline

np.random.seed(2)

from sklearn.model_selection import train_test_split # Spliting the data into Traing and Validation Set
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression# To check the similarity between Predictions and Answers
import itertools

In [195]:
train_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

In [196]:
train_set.head()

,id,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Pressure
0,0,500.0,8.4,0.0508,39.6,0.005662,216.0,4.676385,B,122.905
1,1,2000.0,15.4,0.0508,71.3,0.026427,149.0,34.469485,b,129.285
2,2,3150.0,19.7,0.0508,71.3,0.034118,230.0,21.730041,E,116.225
3,3,1000.0,11.2,0.0508,39.6,0.015048,156.0,6.997097,f,132.430
4,4,2500.0,12.6,0.1524,71.3,0.048316,247.0,11.218947,E,115.234

In [197]:
train_set = train_set.drop(['Attribute5'], axis = 1)
test_set = test_set.drop(['Attribute5'], axis=1)

In [198]:
combine = [train_set,test_set]

In [199]:
for x in combine:
    x['Attribute8'] = x['Attribute8'].map({'f':1,'C':2,'b':3,'a':4,'A':5 , 'B':6,'F':7,'d':8,'E':9,'D':10 ,'e':11,'c':12})
train_set.head()

,id,Attribute1,Attribute2,Attribute3,Attribute4,Attribute6,Attribute7,Attribute8,Pressure
0,0,500.0,8.4,0.0508,39.6,216.0,4.676385,6.0,122.905
1,1,2000.0,15.4,0.0508,71.3,149.0,34.469485,3.0,129.285
2,2,3150.0,19.7,0.0508,71.3,230.0,21.730041,9.0,116.225
3,3,1000.0,11.2,0.0508,39.6,156.0,6.997097,1.0,132.430
4,4,2500.0,12.6,0.1524,71.3,247.0,11.218947,9.0,115.234

In [200]:
train_set.describe()

,id,Attribute1,Attribute2,Attribute3,Attribute4,Attribute6,Attribute7,Attribute8,Pressure
count,1052.000000,1049.000000,1048.000000,1047.000000,1048.000000,1045.000000,1046.000000,1047.000000,1052.000000
mean,525.500000,2928.174452,6.914313,0.136025,50.964408,150.796172,20.384337,6.115568,124.780865
std,303.830545,3132.041933,6.041421,0.094862,15.712071,85.158763,11.675185,3.448753,6.915786
min,0.000000,200.000000,0.000000,0.025400,31.700000,0.000000,0.025689,1.000000,104.130000
25%,262.750000,800.000000,2.000000,0.050800,39.600000,77.000000,10.262863,3.000000,120.160000
50%,525.500000,2000.000000,5.300000,0.101600,39.600000,152.000000,20.624518,6.000000,125.586000
75%,788.250000,4000.000000,11.200000,0.228600,71.300000,223.000000,30.414567,9.000000,129.982750
max,1051.000000,20000.000000,22.200000,0.304800,71.300000,299.000000,40.259143,12.000000,140.987000

In [201]:
for k in combine:
    k['Attribute1'] = k['Attribute1'].fillna(k['Attribute1'].mean())
    k['Attribute2'] = k['Attribute2'].fillna(k['Attribute2'].mean())
    k['Attribute3'] = k['Attribute3'].fillna(k['Attribute3'].mean())
    k['Attribute4'] = k['Attribute4'].fillna(k['Attribute4'].mean())
    #k['Attribute5'] = k['Attribute5'].fillna(k['Attribute5'].mean())
    k['Attribute6'] = k['Attribute6'].fillna(k['Attribute6'].mean())
    k['Attribute7'] = k['Attribute7'].fillna(k['Attribute7'].mean())
    k['Attribute8'] = k['Attribute8'].fillna(k['Attribute8'].mean())
train_set.describe()

,id,Attribute1,Attribute2,Attribute3,Attribute4,Attribute6,Attribute7,Attribute8,Pressure
count,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000,1052.000000
mean,525.500000,2928.174452,6.914313,0.136025,50.964408,150.796172,20.384337,6.115568,124.780865
std,303.830545,3127.568650,6.029913,0.094636,15.682143,84.874697,11.641812,3.440540,6.915786
min,0.000000,200.000000,0.000000,0.025400,31.700000,0.000000,0.025689,1.000000,104.130000
25%,262.750000,800.000000,2.000000,0.050800,39.600000,77.000000,10.396000,3.000000,120.160000
50%,525.500000,2000.000000,5.300000,0.101600,39.600000,152.000000,20.522137,6.000000,125.586000
75%,788.250000,4000.000000,11.200000,0.228600,71.300000,223.000000,30.344581,9.000000,129.982750
max,1051.000000,20000.000000,22.200000,0.304800,71.300000,299.000000,40.259143,12.000000,140.987000

In [202]:
for dataset in combine:
    dataset['Attribute1'] = (dataset['Attribute1'] - dataset['Attribute1'].mean())/(dataset['Attribute1'].max()-dataset['Attribute1'].min())*10
    dataset['Attribute2'] = (dataset['Attribute2'] - dataset['Attribute2'].mean())/(dataset['Attribute2'].max()-dataset['Attribute2'].min())*10
    dataset['Attribute3'] = (dataset['Attribute3'] - dataset['Attribute3'].mean())/(dataset['Attribute3'].max()-dataset['Attribute3'].min())*10
    dataset['Attribute4'] = (dataset['Attribute4'] - dataset['Attribute4'].mean())/(dataset['Attribute4'].max()-dataset['Attribute4'].min())*10
    #dataset['Attribute5'] = (dataset['Attribute5'] - dataset['Attribute5'].mean())/(dataset['Attribute5'].max()-dataset['Attribute5'].min())*10
    dataset['Attribute6'] = (dataset['Attribute6'] - dataset['Attribute6'].mean())/(dataset['Attribute6'].max()-dataset['Attribute6'].min())*10
    dataset['Attribute7'] = (dataset['Attribute7'] - dataset['Attribute7'].mean())/(dataset['Attribute7'].max()-dataset['Attribute7'].min())*10
    dataset['Attribute8'] = (dataset['Attribute8'] - dataset['Attribute8'].mean())/(dataset['Attribute8'].max()-dataset['Attribute8'].min())*10
train_set.head()

,id,Attribute1,Attribute2,Attribute3,Attribute4,Attribute6,Attribute7,Attribute8,Pressure
0,0,-1.226351,0.669228,-3.050274,-2.86980,2.180730,-3.904202,-0.105062,122.905
1,1,-0.468775,3.822382,-3.050274,5.13525,-0.060073,3.500855,-2.832335,129.285
2,2,0.112033,5.759318,-3.050274,5.13525,2.648957,0.334474,2.622211,116.225
3,3,-0.973825,1.930490,-3.050274,-2.86980,0.174041,-3.327390,-4.650517,132.430
4,4,-0.216250,2.561120,0.586090,5.13525,3.217519,-2.278052,2.622211,115.234

In [203]:
X = train_set.drop(['Pressure'],axis=1)
Y = train_set['Pressure']
print(X, X.shape , Y , Y.shape)

        id  Attribute1  Attribute2  Attribute3    Attribute4    Attribute6  \
0        0   -1.226351    0.669228   -3.050274 -2.869800e+00  2.180730e+00
1        1   -0.468775    3.822382   -3.050274  5.135250e+00 -6.007265e-02
2        2    0.112033    5.759318   -3.050274  5.135250e+00  2.648957e+00
3        3   -0.973825    1.930490   -3.050274 -2.869800e+00  1.740411e-01
4        4   -0.216250    2.561120    0.586090  5.135250e+00  3.217519e+00
5        5   -1.160694   -3.114555   -1.232092 -2.869800e+00  3.184075e+00
6        6   -1.074836   -1.898339    0.586090  5.135250e+00  1.043606e+00
7        7    2.561528   -0.952393   -3.959364 -2.869800e+00 -1.732313e+00
8        8    0.541326    0.669228   -3.050274  1.145351e+00 -9.630827e-01
9        9   -1.074836    2.425985   -1.232092 -2.869800e+00 -2.902882e+00
10      10   -0.670795    0.173733    3.313363 -2.869800e+00  8.763822e-01
11      11    1.046377   -3.114555    3.313363  5.135250e+00 -1.799203e+00
12      12    0.541326   -3.114555    3.313363 -4.864750e+00  7.426029e-01
13      13    3.571629   -1.628069   -1.232092  1.145351e+00 -2.601879e+00
14      14   -1.074836    3.822382   -3.050274 -4.864750e+00 -1.096862e+00
15      15    1.046377    2.425985   -1.232092  1.145351e+00 -4.140340e+00
16      16   -0.847563    1.164724    0.000000  1.145351e+00 -4.274119e+00
17      17   -1.319785    4.723282   -3.959364  5.135250e+00  2.147285e+00
18      18   -1.352613   -3.114555    6.040636 -4.864750e+00  3.518523e+00
19      19   -1.226351    0.894454   -1.232092  1.794300e-15  1.545279e+00
20      20   -0.468775   -1.898339    0.586090  5.135250e+00  2.147285e+00
21      21    1.702942    0.128688    0.586090  5.135250e+00 -4.140340e+00
22      22   -0.216250   -1.628069   -1.232092 -4.864750e+00 -4.106895e+00
23      23   -0.670795    1.344904    0.586090  5.135250e+00 -3.805892e+00
24      24   -0.973825    2.425985   -1.232092 -2.869800e+00 -1.297531e+00
25      25   -0.468775    2.606165   -3.959364  5.135250e+00  1.712503e+00
26      26    3.571629   -2.438880    6.040636  5.135250e+00 -3.070106e+00
27      27   -0.216250   -3.114555    0.586090  5.135250e+00  3.451633e+00
28      28   -1.319785    4.723282   -3.959364  1.145351e+00  1.980061e+00
29      29   -1.276856    2.606165   -3.959364 -2.869800e+00  6.757133e-01
...    ...         ...         ...         ...           ...           ...
1022  1022   -1.074836    4.723282   -3.959364 -4.864750e+00  7.426029e-01
1023  1023   -1.160694   -1.763204    6.040636  5.135250e+00  3.819526e+00
1024  1024   -0.670795    1.930490   -3.050274  5.135250e+00 -2.272967e-01
1025  1025   -0.468775    0.173733    3.313363 -4.864750e+00  3.819526e+00
1026  1026    1.046377    2.425985   -1.232092 -2.869800e+00 -1.901118e-15
1027  1027   -0.468775   -3.114555   -3.050274 -2.869800e+00  2.816182e+00
1028  1028    1.046377   -3.114555   -3.959364  1.145351e+00  2.314509e+00
1029  1029   -1.074836   -1.763204    6.040636  1.145351e+00 -3.304220e+00
1030  1030   -0.670795   -1.222664   -3.050274  5.135250e+00 -4.608568e+00
1031  1031    0.112033   -2.438880    6.040636  5.135250e+00  2.515178e+00
1032  1032   -1.226351    1.930490   -3.050274  5.135250e+00  3.886416e+00
1033  1033    1.702942   -1.898339    0.586090 -2.869800e+00  3.685747e+00
1034  1034   -0.847563    1.930490   -3.050274  5.135250e+00 -1.096862e+00
1035  1035   -1.352613   -1.312754    6.040636 -2.869800e+00  2.548623e+00
1036  1036   -0.670795   -2.438880    6.040636 -2.869800e+00  2.481733e+00
1037  1037    0.541326   -0.682123    0.586090  5.135250e+00 -3.237330e+00
1038  1038    0.112033    2.561120    0.586090  5.135250e+00 -1.901118e-15
1039  1039    6.601932   -1.312754    3.313363  5.135250e+00  4.415996e-01
1040  1040   -0.216250    2.425985   -1.232092  5.135250e+00 -5.617449e-01
1041  1041   -1.074836    0.128688    0.586090  5.135250e+00  2.113840e+00
1042  1042    0.541326    1.164724   -3.959364 -2.869800e+00  3.518523e+00
1043  1043   -1.160694    0.128688    0.586090  5.135250e+00 -3.973116e+00
1044  1044   -0.847563   -2.213654    3.313363 -2.869800e+00 -1.264086e+00
1045  1045   -0.973825   -0.952393   -3.959364 -2.869800e+00  4.287753e+00
1046  1046   -1.074836    0.894454   -1.232092  5.135250e+00  4.120529e+00
1047  1047    4.834255   -3.114555   -3.050274 -2.869800e+00 -2.367765e+00
1048  1048   -0.847563    0.669228   -3.050274 -4.864750e+00 -2.769103e+00
1049  1049   -0.847563    6.885445   -3.959364  5.135250e+00 -4.441344e+00
1050  1050   -0.847563   -0.682123    0.586090  1.145351e+00  4.521867e+00
1051  1051   -0.973825    1.344904    0.586090 -4.864750e+00  3.284409e+00

        Attribute7    Attribute8
0    -3.904202e+00 -1.050621e-01
1     3.500855e+00 -2.832335e+00
2     3.344738e-01  2.622211e+00
3    -3.327390e+00 -4.650517e+00
4    -2.278052e+00  2.622211e+00
5    -4.715001e+00  3.531302e+00
6     4.213425e+00  8.040288e-01
7     4.188326e+00  5.349483e+00
8     6.952732e-01 -4.650517e+00
9    -3.039995e+00  5.349483e+00
10    1.190354e+00  8.040288e-01
11    3.260693e+00 -1.923244e+00
12    4.227694e+00 -1.014153e+00
13   -4.595485e+00 -3.741426e+00
14    2.252911e+00 -1.923244e+00
15   -1.167474e+00 -2.832335e+00
16    3.462897e+00 -3.741426e+00
17    4.764738e-01 -1.050621e-01
18    1.831283e+00  8.074349e-16
19    4.831252e+00 -2.832335e+00
20    1.450100e+00 -1.923244e+00
21   -2.333932e+00 -1.014153e+00
22    6.067228e-01  2.622211e+00
23    3.700960e+00  5.349483e+00
24   -4.877086e+00  4.440392e+00
25   -2.572127e+00  2.622211e+00
26    2.796021e+00 -4.650517e+00
27    3.138655e+00 -3.741426e+00
28   -2.125242e+00  3.531302e+00
29    1.779392e+00 -1.923244e+00
...            ...           ...
1022 -2.669765e+00  3.531302e+00
1023 -1.693708e+00  8.040288e-01
1024 -2.997586e+00 -2.832335e+00
1025 -4.614910e+00  8.040288e-01
1026 -4.387831e+00 -1.923244e+00
1027 -4.800277e+00 -4.650517e+00
1028 -3.691022e+00 -1.050621e-01
1029  2.948171e+00  5.349483e+00
1030 -1.482592e+00 -1.923244e+00
1031  7.973329e-01  5.349483e+00
1032 -7.656930e-01  2.622211e+00
1033  1.461702e+00  2.622211e+00
1034 -5.185701e-01  1.713120e+00
1035  1.830581e+00 -1.014153e+00
1036  2.129030e+00 -3.741426e+00
1037 -1.947659e-01  4.440392e+00
1038 -5.096917e-01  2.622211e+00
1039  2.349562e-01 -4.650517e+00
1040  3.705754e+00  1.713120e+00
1041  2.463926e+00 -1.923244e+00
1042  4.837682e+00 -1.050621e-01
1043  8.830248e-16 -1.923244e+00
1044  2.246949e+00  2.622211e+00
1045  5.990398e-01  8.040288e-01
1046  2.918479e+00 -3.741426e+00
1047 -3.110432e+00  3.531302e+00
1048  3.939499e+00 -3.741426e+00
1049  3.196706e+00  2.622211e+00
1050 -1.069269e+00 -1.923244e+00
1051  1.757230e+00  8.040288e-01

[1052 rows x 8 columns] (1052, 8) 0       122.905
1       129.285
2       116.225
3       132.430
4       115.234
5       125.401
6       127.394
7       131.346
8       122.612
9       122.315
10      121.059
11      124.304
12      122.035
13      115.659
14      125.555
15      112.014
16      132.202
17      115.846
18      118.595
19      138.523
20      130.114
21      116.603
22      130.392
23      121.789
24      122.435
25      134.228
26      113.492
27      128.127
28      111.911
29      125.527
         ...
1022    139.226
1023    129.354
1024    135.191
1025    115.309
1026    108.625
1027    132.918
1028    135.803
1029    129.949
1030    124.318
1031    123.392
1032    130.311
1033    119.209
1034    136.191
1035    123.543
1036    122.211
1037    121.431
1038    113.334
1039    112.768
1040    121.318
1041    136.023
1042    127.864
1043    134.853
1044    128.257
1045    122.956
1046    137.813
1047    123.988
1048    130.156
1049    140.987
1050    130.777
1051    122.149
Name: Pressure, Length: 1052, dtype: float64 (1052,)

In [204]:
train_set = train_set.drop(['id'],axis=1)
test_set = test_set.drop(['id'],axis =1)

In [205]:
X = train_set.drop(['Pressure'],axis=1)
Y = train_set['Pressure']
print(X, X.shape , Y , Y.shape)

      Attribute1  Attribute2  Attribute3    Attribute4    Attribute6  \
0      -1.226351    0.669228   -3.050274 -2.869800e+00  2.180730e+00
1      -0.468775    3.822382   -3.050274  5.135250e+00 -6.007265e-02
2       0.112033    5.759318   -3.050274  5.135250e+00  2.648957e+00
3      -0.973825    1.930490   -3.050274 -2.869800e+00  1.740411e-01
4      -0.216250    2.561120    0.586090  5.135250e+00  3.217519e+00
5      -1.160694   -3.114555   -1.232092 -2.869800e+00  3.184075e+00
6      -1.074836   -1.898339    0.586090  5.135250e+00  1.043606e+00
7       2.561528   -0.952393   -3.959364 -2.869800e+00 -1.732313e+00
8       0.541326    0.669228   -3.050274  1.145351e+00 -9.630827e-01
9      -1.074836    2.425985   -1.232092 -2.869800e+00 -2.902882e+00
10     -0.670795    0.173733    3.313363 -2.869800e+00  8.763822e-01
11      1.046377   -3.114555    3.313363  5.135250e+00 -1.799203e+00
12      0.541326   -3.114555    3.313363 -4.864750e+00  7.426029e-01
13      3.571629   -1.628069   -1.232092  1.145351e+00 -2.601879e+00
14     -1.074836    3.822382   -3.050274 -4.864750e+00 -1.096862e+00
15      1.046377    2.425985   -1.232092  1.145351e+00 -4.140340e+00
16     -0.847563    1.164724    0.000000  1.145351e+00 -4.274119e+00
17     -1.319785    4.723282   -3.959364  5.135250e+00  2.147285e+00
18     -1.352613   -3.114555    6.040636 -4.864750e+00  3.518523e+00
19     -1.226351    0.894454   -1.232092  1.794300e-15  1.545279e+00
20     -0.468775   -1.898339    0.586090  5.135250e+00  2.147285e+00
21      1.702942    0.128688    0.586090  5.135250e+00 -4.140340e+00
22     -0.216250   -1.628069   -1.232092 -4.864750e+00 -4.106895e+00
23     -0.670795    1.344904    0.586090  5.135250e+00 -3.805892e+00
24     -0.973825    2.425985   -1.232092 -2.869800e+00 -1.297531e+00
25     -0.468775    2.606165   -3.959364  5.135250e+00  1.712503e+00
26      3.571629   -2.438880    6.040636  5.135250e+00 -3.070106e+00
27     -0.216250   -3.114555    0.586090  5.135250e+00  3.451633e+00
28     -1.319785    4.723282   -3.959364  1.145351e+00  1.980061e+00
29     -1.276856    2.606165   -3.959364 -2.869800e+00  6.757133e-01
...          ...         ...         ...           ...           ...
1022   -1.074836    4.723282   -3.959364 -4.864750e+00  7.426029e-01
1023   -1.160694   -1.763204    6.040636  5.135250e+00  3.819526e+00
1024   -0.670795    1.930490   -3.050274  5.135250e+00 -2.272967e-01
1025   -0.468775    0.173733    3.313363 -4.864750e+00  3.819526e+00
1026    1.046377    2.425985   -1.232092 -2.869800e+00 -1.901118e-15
1027   -0.468775   -3.114555   -3.050274 -2.869800e+00  2.816182e+00
1028    1.046377   -3.114555   -3.959364  1.145351e+00  2.314509e+00
1029   -1.074836   -1.763204    6.040636  1.145351e+00 -3.304220e+00
1030   -0.670795   -1.222664   -3.050274  5.135250e+00 -4.608568e+00
1031    0.112033   -2.438880    6.040636  5.135250e+00  2.515178e+00
1032   -1.226351    1.930490   -3.050274  5.135250e+00  3.886416e+00
1033    1.702942   -1.898339    0.586090 -2.869800e+00  3.685747e+00
1034   -0.847563    1.930490   -3.050274  5.135250e+00 -1.096862e+00
1035   -1.352613   -1.312754    6.040636 -2.869800e+00  2.548623e+00
1036   -0.670795   -2.438880    6.040636 -2.869800e+00  2.481733e+00
1037    0.541326   -0.682123    0.586090  5.135250e+00 -3.237330e+00
1038    0.112033    2.561120    0.586090  5.135250e+00 -1.901118e-15
1039    6.601932   -1.312754    3.313363  5.135250e+00  4.415996e-01
1040   -0.216250    2.425985   -1.232092  5.135250e+00 -5.617449e-01
1041   -1.074836    0.128688    0.586090  5.135250e+00  2.113840e+00
1042    0.541326    1.164724   -3.959364 -2.869800e+00  3.518523e+00
1043   -1.160694    0.128688    0.586090  5.135250e+00 -3.973116e+00
1044   -0.847563   -2.213654    3.313363 -2.869800e+00 -1.264086e+00
1045   -0.973825   -0.952393   -3.959364 -2.869800e+00  4.287753e+00
1046   -1.074836    0.894454   -1.232092  5.135250e+00  4.120529e+00
1047    4.834255   -3.114555   -3.050274 -2.869800e+00 -2.367765e+00
1048   -0.847563    0.669228   -3.050274 -4.864750e+00 -2.769103e+00
1049   -0.847563    6.885445   -3.959364  5.135250e+00 -4.441344e+00
1050   -0.847563   -0.682123    0.586090  1.145351e+00  4.521867e+00
1051   -0.973825    1.344904    0.586090 -4.864750e+00  3.284409e+00

        Attribute7    Attribute8
0    -3.904202e+00 -1.050621e-01
1     3.500855e+00 -2.832335e+00
2     3.344738e-01  2.622211e+00
3    -3.327390e+00 -4.650517e+00
4    -2.278052e+00  2.622211e+00
5    -4.715001e+00  3.531302e+00
6     4.213425e+00  8.040288e-01
7     4.188326e+00  5.349483e+00
8     6.952732e-01 -4.650517e+00
9    -3.039995e+00  5.349483e+00
10    1.190354e+00  8.040288e-01
11    3.260693e+00 -1.923244e+00
12    4.227694e+00 -1.014153e+00
13   -4.595485e+00 -3.741426e+00
14    2.252911e+00 -1.923244e+00
15   -1.167474e+00 -2.832335e+00
16    3.462897e+00 -3.741426e+00
17    4.764738e-01 -1.050621e-01
18    1.831283e+00  8.074349e-16
19    4.831252e+00 -2.832335e+00
20    1.450100e+00 -1.923244e+00
21   -2.333932e+00 -1.014153e+00
22    6.067228e-01  2.622211e+00
23    3.700960e+00  5.349483e+00
24   -4.877086e+00  4.440392e+00
25   -2.572127e+00  2.622211e+00
26    2.796021e+00 -4.650517e+00
27    3.138655e+00 -3.741426e+00
28   -2.125242e+00  3.531302e+00
29    1.779392e+00 -1.923244e+00
...            ...           ...
1022 -2.669765e+00  3.531302e+00
1023 -1.693708e+00  8.040288e-01
1024 -2.997586e+00 -2.832335e+00
1025 -4.614910e+00  8.040288e-01
1026 -4.387831e+00 -1.923244e+00
1027 -4.800277e+00 -4.650517e+00
1028 -3.691022e+00 -1.050621e-01
1029  2.948171e+00  5.349483e+00
1030 -1.482592e+00 -1.923244e+00
1031  7.973329e-01  5.349483e+00
1032 -7.656930e-01  2.622211e+00
1033  1.461702e+00  2.622211e+00
1034 -5.185701e-01  1.713120e+00
1035  1.830581e+00 -1.014153e+00
1036  2.129030e+00 -3.741426e+00
1037 -1.947659e-01  4.440392e+00
1038 -5.096917e-01  2.622211e+00
1039  2.349562e-01 -4.650517e+00
1040  3.705754e+00  1.713120e+00
1041  2.463926e+00 -1.923244e+00
1042  4.837682e+00 -1.050621e-01
1043  8.830248e-16 -1.923244e+00
1044  2.246949e+00  2.622211e+00
1045  5.990398e-01  8.040288e-01
1046  2.918479e+00 -3.741426e+00
1047 -3.110432e+00  3.531302e+00
1048  3.939499e+00 -3.741426e+00
1049  3.196706e+00  2.622211e+00
1050 -1.069269e+00 -1.923244e+00
1051  1.757230e+00  8.040288e-01

[1052 rows x 7 columns] (1052, 7) 0       122.905
1       129.285
2       116.225
3       132.430
4       115.234
5       125.401
6       127.394
7       131.346
8       122.612
9       122.315
10      121.059
11      124.304
12      122.035
13      115.659
14      125.555
15      112.014
16      132.202
17      115.846
18      118.595
19      138.523
20      130.114
21      116.603
22      130.392
23      121.789
24      122.435
25      134.228
26      113.492
27      128.127
28      111.911
29      125.527
         ...
1022    139.226
1023    129.354
1024    135.191
1025    115.309
1026    108.625
1027    132.918
1028    135.803
1029    129.949
1030    124.318
1031    123.392
1032    130.311
1033    119.209
1034    136.191
1035    123.543
1036    122.211
1037    121.431
1038    113.334
1039    112.768
1040    121.318
1041    136.023
1042    127.864
1043    134.853
1044    128.257
1045    122.956
1046    137.813
1047    123.988
1048    130.156
1049    140.987
1050    130.777
1051    122.149
Name: Pressure, Length: 1052, dtype: float64 (1052,)

In [206]:
reg = LinearRegression()

In [207]:
reg.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [208]:
score = round(reg.score(X,Y)*100,2)

In [209]:
score

47.2

In [210]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

In [211]:
rfr = RandomForestRegressor(n_estimators=200, random_state=1)
#ada = AdaBoostRegressor(learning_rate=2)

In [212]:
rfr.fit(X,Y)
#ada.fit(X,Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [213]:
rfr.score(X,Y)
#ada.score(X,Y)

0.97258474269156

In [214]:
predictions = rfr.predict(test_set)

In [215]:
print(predictions.shape)

(451,)

In [216]:
Id = pd.read_csv('test.csv')

In [217]:
ID = Id['id']

In [218]:
Solution = pd.DataFrame({'ID': ID,'Pressure':predictions})

In [219]:
Solution.head()

   ID    Pressure
0   0  129.751805
1   1  116.965540
2   2  114.110025
3   3  123.394935
4   4  123.074290

In [220]:
Solution.to_csv('LinearRegModel3.csv')